<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064557322091-i77fu53mnvnrrnhmmkpi90sd3dgclqvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064557322091-i77fu53mnvnrrnhmmkpi90sd3dgclqvm</string>
	<key>API_KEY</key>
	<string>AIzaSyC9popi2QDNtkiPY_NUa6bvSZo9gm_CnAE</string>
	<key>GCM_SENDER_ID</key>
	<string>1064557322091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinovative.dino-food</string>
	<key>PROJECT_ID</key>
	<string>dinofood</string>
	<key>STORAGE_BUCKET</key>
	<string>dinofood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064557322091:ios:014a9a7f98cf6d1dbbf62e</string>
	<key>DATABASE_URL</key>
	<string>https://dinofood.firebaseio.com</string>
</dict>
</plist>